@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row no-gutters full-width-section">
        <div class="col-md-6">
            <img src="~/images/pizza_social_clubs.jpg" alt="Join Our Social Clubs" class="img-fluid w-100">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center bg-dark text-white">
            <div class="text-center">
                <h2>Join Our Social Clubs</h2>
                <p class="lead">Be a part of our vibrant community! Engage, explore, and enjoy with like-minded people. Whether you're into sports, arts, or music, there's a club for everyone. Let's make memories together!</p>
                <div class="arrow-container">
                    <a href="#club-section"><span class="arrow">&#8623;</span></a> <!-- Downward arrow -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="club-section" class="container mt-5">
    <!-- Added margin-top for space -->
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/game_club.jpg" alt="Game Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Game Club</h4>
                    <p class="card-text">Enjoy gaming sessions with fellow enthusiasts. From console to PC, we have it all!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/soccer_club.jpg" alt="Soccer Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Soccer Club</h4>
                    <p class="card-text">Join our soccer club for regular matches and tournaments. All skill levels are welcome!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/hiking_club.jpg" alt="Hiking Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Hiking Club</h4>
                    <p class="card-text">Explore the great outdoors with our hiking club. Discover new trails and make new friends!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/music_club.jpg" alt="Music Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Music Club</h4>
                    <p class="card-text">Whether you're a musician or a music lover, our music club has something for everyone!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/art_club.jpg" alt="Art Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Art Club</h4>
                    <p class="card-text">Express your creativity with our art club. Participate in workshops and exhibitions!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 club-card">
                <img class="card-img-top" src="~/images/book_club.jpg" alt="Book Club">
                <div class="card-body club-info">
                    <h4 class="card-title">Book Club</h4>
                    <p class="card-text">Join our book club for engaging discussions and book recommendations. All genres welcome!</p>
                    <a href="#" class="btn btn-primary learn-more">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
