@model TerraClubHub.Models.ClubActivity

@{
    ViewData["Title"] = "Create Club Activity";
}

<h2 class="heading-custom">Create Club Activity</h2>

<div class="form-custom">
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Budget" class="control-label"></label>
            <input asp-for="Budget" class="form-control" />
            <span asp-validation-for="Budget" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CostPerPerson" class="control-label"></label>
            <input asp-for="CostPerPerson" class="form-control" />
            <span asp-validation-for="CostPerPerson" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfMembersParticipated" class="control-label"></label>
            <input asp-for="NumberOfMembersParticipated" class="form-control" />
            <span asp-validation-for="NumberOfMembersParticipated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<div>
    <a asp-action="Index">Back to List</a>
</div>