@model TerraClubHub.Models.ClubActivity

@{
    ViewData["Title"] = "Edit Club Activity";
}

<h2>Edit Club Activity</h2>

<h4>Club Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerPerson" class="control-label"></label>
                <input asp-for="CostPerPerson" class="form-control" />
                <span asp-validation-for="CostPerPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfMembersParticipated" class="control-label"></label>
                <input asp-for="NumberOfMembersParticipated" class="form-control" />
                <span asp-validation-for="NumberOfMembersParticipated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubID" class="control-label"></label>
                <select asp-for="ClubID" class="form-control" asp-items="ViewBag.ClubId"></select>
                <span asp-validation-for="ClubID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>